body {
    background-color: aliceblue;
    font-size: 125%;
}

.header {
    padding-top: 5em;
    padding-bottom: 5em;
    text-align: center;
    font-size: 2em;
    overflow: auto;
}

.charts {
    padding-top: 3em;
}

.active {
    fill: rgb(17, 17, 179);
}