body {
    margin: 5%;
}

a {
    text-decoration: none;
    color: rgb(92, 102, 247);
}

.tuesday {
    width: 50%;
}

.hover_img a {
    position: relative;
}

.hover_img a span {
    position: absolute;
    display: none;
}

.hover_img a:hover span {
    display: block;
}