a {
    color: #2E75B7;
    text-decoration-line: none;
}

h2 {
    font-size: 3.5em;
}

.news-item p {
    margin-bottom: 0%;
}

.text-block {
    margin-left: 2em;
}

.news-block {
    overflow: auto;
    height: 30vh;
}

.navbar {
    padding: 3% 10% 0.5% 10%;
}

.container-fluid {
    padding: 0.5% 10%;
}

.active {
    font-weight: bold;
}

.nav-link {
    color: whitesmoke;
    font-size: 1.25em;
}

.information {
    margin-top: 5%;
}

.interest-list {
    margin-top: 2%;
}

.news-item {
    background-color: #EEEEEE;
    margin-top: 1%;
}

.last-container {
    margin-bottom: 4%;
}

.footer-item {
    padding: 1.5em;
    margin: 0 1.5em;
}

.standardPic {
    border-radius: 12%;
}

.profPic {
    border-radius: 50%;
    opacity: 0.8;
}

.news-item {
    padding: 1.5em;
}

.research-year {
    padding: 1.5em 3.15em;
    border: #D9D9D9 1px solid;
    border-radius: 15px;
    background-color: white;
}


.paper-title {
    margin-top: 2em;
    text-align: center;
}

#header {
    color: whitesmoke;
    font-size: 3em;
    padding-bottom: 1.5%;
    margin: 0;
}

@media (min-width: 1200px) {
    .news-item {
        padding: 2%;
    }
}

@media (min-width: 992px) and (max-width: 1199.9px) {
    .information {
        font-size: 1.25vw;
    }

    .news-item {
        padding: 2%;
    }
}

@media (max-width: 992px) {
    .news-item {
        padding: 5%;
    }
}

@media (max-width: 720) {
    .research-title {
        display: block;
    }
}