/* basics */

.container-fluid {
    padding: 0.5% 10%;
}

a {
    color: #1e91d6;
    text-decoration-line: none;
}

h2 {
    font-size: 3.5em;
}

body {
    background-color: #F7F9F9;
}

/* navbar */

#header {
    color: #F7F9F9;
    font-size: 3em;
    padding-bottom: 1.5%;
    margin: 0;
}

#pronouns {
    font-size: .4em;
    font-weight: 200;
}

.navbar {
    padding: 3% 10% 0.5% 10%;
}

.active {
    font-weight: 900;
}

.nav-link {
    color: #F7F9F9;
    font-size: 1.25em;
}

/* introduction */

.standardPic {
    border-radius: 12%;
}

.profPic {
    border-radius: 50%;
    opacity: 0.9;
}

.introduction {
    display: flex;
    align-items: center;
}

@media (max-width: 992px) {
    .introduction {
        text-align: center;
        margin-left: 0;
    }
}

.introduction h2 {
    margin-left: .5em;
}

/* information */

.information {
    margin-top: 5%;
}

.information-text {
    font-size: 1.2em;
}

/* news items */

.news-item p {
    margin-bottom: 0%;
}

.news-block {
    overflow: auto;
    height: 30vh;
}

.news-item {
    background-color: #D0DDD2;
    margin-top: 1%;
    padding: 1.5em;
    font-size: 1.1em;
}

@media (min-width: 1200px) {
    .news-item {
        padding: 2%;
    }
}

@media (min-width: 992px) and (max-width: 1199.9px) {
    .information {
        font-size: 1.25vw;
    }

    .news-item {
        padding: 2%;
    }
}

@media (max-width: 992px) {
    .news-item {
        padding: 5%;
    }

}

/* research */

.teaser {
    padding: 1.5em;
    width: 100%;
}

.text-block {
    font-size: 1.1em;
}

/* teaching */


/* contact page */

.contact-text {
    font-size: 2em;
    align-items: center;
    text-align: center;
    padding: 5%;
}

/* footer */

.last-container {
    margin-bottom: 4%;
}

.footer-item {
    padding: 1.5em;
    margin: 0 1.5em;
    text-align: center;
    align-items: center;
}

.footer-text {
    color: #f9f9f9;
    margin-top: 1.5em;
}