body {
    background-color: aliceblue;
    font-size: 125%;
}

.header {
    padding-top: 5em;
    padding-bottom: 5em;
    text-align: center;
    font-size: 2em;
}

.charts {
    padding-top: 3em;
}

.active {
    fill: rgb(17, 17, 179);
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #203f6d;
    --bs-btn-border-color: #13233a;
    --bs-btn-hover-color: rgb(255, 255, 255);
    --bs-btn-hover-bg: #135fd1;
}

.invisible {
    display: none;
}

iframe#tableauViz>* {
    background-color: none;
}

.chart {
    display: none;
}

.visible {
    display: inline-block;
}