body {
    background-color: aliceblue;
}

.invisible {
    display: none;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #c90dfd;
    --bs-btn-border-color: #d10dfd;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #65177d;
}