/* all week-1 items */

h2 {
    font-size: 1.5em;
}

.link {
    background-color: #D0DDD2;
    margin: 1% 0;
    padding: 1%;
    width: 25%;
    color: black;
    text-align: center;
    align-items: center;
}


/* intro specific */

.tuesday {
    width: 50%;
}

.hover_img a {
    position: relative;
}

.hover_img a span {
    position: absolute;
    display: none;
}

.hover_img a:hover span {
    display: block;
}

/* html specific */


.tag {
    color: rgb(208, 104, 121);
    margin-bottom: 1em;
    background-color: rgb(242, 242, 242);
}

.body {
    margin-left: 1em;
}

.p {
    margin-left: 2em;
}

.modifier {
    color: rgb(151, 58, 151);
}

.modifier-info {
    color: rgb(77, 120, 204)
}

.htmltext {
    color: black;
}

.code {
    font-family: 'Courier New', Courier, monospace;
}

/* movie review exercise */

.movie-title {
    color: rgb(57, 83, 145);
    font-weight: bold;
    font-size: 2em;
}

.movie-review {
    margin: 1%;
    padding: 2%;
    background-color: #f5e9d8;
}